<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/about.css">
    <title>About</title>
</head>
<body>


    <nav>
        <img id="logo" src="static/img/logo.png" alt="logo"/>
    <div class="photograph">Online<span>FIR</span>System</div>
    <div class="nav">
        <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="about">About Us</a>
            </li>
            <li>
              <a href="#">Track Status</a>
            </li>
            <li>
              <a href="contact">Contact</a>
            </li>
          </ul>
    </div>
  </nav>
  


<div class="main1" style="background-color:rgb(175, 175, 175);" >
    
    <p style="color: rgb(0, 0, 0); text-align: center; font-size: 5vh; font-weight: bold; text-decoration: underline; background-color: rgb(175, 175, 175);">About Us</p>
    <br>
    <br>


    <p style="color: black; background-color: rgb(175, 175, 175);">
        
        Helping others is the first step in making the world a better place and improving the lives of those who aren’t as lucky as you. 
        But it’s also shown to bring about a wealth of benefits for those who choose to help and might just be the key to happiness!
        We developed this system by seeing some of the some live problems of people, women and small kids in our society. 
        To give justification to the people at the right time is the main aim of our system.
        So by observing all these problems we developed the Online FIR Registration System for public security. 
        We are trying to create a website which will help the victim to register the FIR according to their convenience and without falling for social pressure. 
        We are trying to help uphold the Rule of Law impartially and firmly without fear of favour, and strive to make the city free of fear and conductive to growth and development.
        

       
    </p>


</div>


<footer >
    <div id="foot">
      <div class="button">
        <a href="#" class="color">
         <b> Quick Links</b> 
        </a>
        <a href="#" class="color">
         <b> Emergency Numbers </b> 
        </a>
        <a href="#" class="color">
         <b>Contact NGO</b>  
        </a>
      </div>
      <br />
      <br />
      <p>
        Disclaimer: The facility of registering complaint on Online FIR system is purely for the convenience of the citizens. All efforts will be made to take quick and
        precise action on the complaints lodged.
        <br />
        Warning: Giving wrong and misleading information is serious crime. Action can be taken.
      </p>
      <br />
      <p>Contact Us :</p>
      <p>Mail : onlinefirregistrationsystem@gmai.com | Instagram: @onlinefirsystem | Phone : 9983648826</p>
    </div>
  </footer>



    
</body>
</html>