<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/about.css">
    <title>Emergency Numbers</title>
</head>
<body>


    <nav>
        <img id="logo" src="static/img/logo.png" alt="logo"/>
    <div class="photograph">Online<span>FIR</span>System</div>
    <div class="nav">
        <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="about">About Us</a>
            </li>
            <li>
              <a href="#">Track Status</a>
            </li>
            <li>
              <a href="contact">Contact</a>
            </li>
          </ul>
    </div>
  </nav>
  


<div class="main1" style="background-color:rgb(175, 175, 175);" >
    
    <p style="color: rgb(0, 0, 0); text-align: center; font-size: 5vh; font-weight: bold; text-decoration: underline; background-color:rgb(175, 175, 175);">Emergency Numbers</p>
    <br>
    <br>


    <p style="color: black; background-color:rgb(175, 175, 175);">
        
    <table class="tb">
        
        
            <tr>
                <td class="left2">
                    National Emergency Number :
                </td>
                <td class="right1">
                    112
                </td>
            </tr>
            <tr>
                <td class="left2">
                    Police :
                </td>
                <td class="right1">
                    100
                </td>
            </tr>
            <tr>
                <td class="left2">
                    Fire :
                </td>
                <td class="right1">
                    101
                </td>
            </tr>
            <tr>
                <td class="left2">
                    Ambulance :
                </td>
                <td class="right1">
                    102
                </td>
            </tr>
            <tr>
                <td class="left2">
                    Disaster Management Services :
                </td>
                <td class="right1">
                    108
                </td>
            </tr>
            <tr>
                <td class="left2">
                    Women Helpline :
                </td>
                <td class="right1">
                    1091
                </td>
            </tr>
            <tr>
                <td class="left2">
                    Women Helpline - Domestic Abuse :
                </td>
                <td class="right1">
                    181
                </td>
            </tr>
			<tr>
                <td class="left2">
                    Disaster Management N.D.M.A :
                </td>
                <td class="right1">
                    011-26701728-1078
                </td>
            </tr>
            <tr>
                <td class="left2">
                    EARTHQUAKE / FLOOD / DISASTER N.D.R.F :
                </td>
                <td class="right1">
                    011-24363260
                </td>
            </tr>
			<tr>
                <td class="left2">
                    Deputy Commissioner Of Police - Missing Child And Women :
                </td>
                <td class="right1">
                   1094 
                </td>
            </tr>
            <tr>
                <td class="left2">
                    Railway Enquiry :
                </td>
                <td class="right1">
                    139
                </td>
            </tr>
            <tr>
                <td class="left2">
                    Senior Citizen Helpline :
                </td>
                <td class="right1">
                    1091/ 1291
                </td>
            </tr>
            
            
    
           
        </table>
                
       
    </p>


</div>


<footer >
    <div id="foot">
      <div class="button">
        <a href="quick" class="color">
         <b> Quick Links</b> 
        </a>
        <a href="emergency" class="color">
         <b> Emergency Numbers </b> 
        </a>
        <a href="ngo" class="color">
         <b>Contact NGO</b>  
        </a>
      </div>
      <br />
      <br />
      <p>
        Disclaimer: The facility of registering complaint on Online FIR system is purely for the convenience of the citizens. All efforts will be made to take quick and
        precise action on the complaints lodged.
        <br />
        Warning: Giving wrong and misleading information is serious crime. Action can be taken.
      </p>
      <br />
      <p>Contact Us :</p>
      <p>Mail : onlinefirregistrationsystem@gmail.com | Instagram: @onlinefirsystem | Phone : 9983648826</p>
    </div>
  </footer>



    
</body>
</html>