<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/about.css">
    <title>Quicklinks</title>
</head>
<body>


  <nav>
    <img id="logo" src="static/img/logo.png" alt="logo"/>
<div class="photograph">Online<span>FIR</span>System</div>
<div class="nav">
    <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="about">About Us</a>
        </li>
        <li>
          <a href="#">Track Status</a>
        </li>
        <li>
          <a href="contact">Contact</a>
        </li>
      </ul>
</div>
</nav>
  


<div class="main1" style="background-color:rgb(175, 175, 175);" >
    
    <p style="color: rgb(0, 0, 0); text-align: center; font-size: 5vh; font-weight: bold; text-decoration: underline; background-color:rgb(175, 175, 175);">Quicklinks</p>
    <br>
    <br>


    <p style="color: black; background-color:rgb(175, 175, 175);">
	<ol>    
			<li><a href="https://www.mahapolice.gov.in/" target="_blank" >Maharashtra Police</a></li>
			<li><a href="https://trafficpolicemumbai.maharashtra.gov.in/" target="_blank" >Mumbai Traffic Police</a></li>
			<li><a href="https://www.maharashtra.gov.in/1125/Home" target="_blank" >Government Of Maharashtra</a></li>
			<li><a href="https://aaplesarkar.mahaonline.gov.in/" target="_blank" >Aple Sarkar</a></li>
			<li><a href="https://www.india.gov.in/" target="_blank" >Government Of India</a></li>
			<li><a href="https://indiacode.nic.in/" target="_blank" >Constitution Of India</a></li>
			<li><a href="http://supremecourtofindia.nic.in/" target="_blank" >Supreme Court</a></li>
			<li><a href="http://bombayhighcourt.nic.in/" target="_blank" >Bombay High Court</a></li>

	</ol>  
        </p>


</div>


<footer >
  <div id="foot">
    <div class="button">
      <a href="quick" class="color">
       <b> Quick Links</b> 
      </a>
      <a href="emergency" class="color">
       <b> Emergency Numbers </b> 
      </a>
      <a href="ngo" class="color">
       <b>Contact NGO</b>  
      </a>
    </div>
    <br />
    <br />
    <p>
      Disclaimer: The facility of registering complaint on Online FIR system is purely for the convenience of the citizens. All efforts will be made to take quick and
      precise action on the complaints lodged.
      <br />
      Warning: Giving wrong and misleading information is serious crime. Action can be taken.
    </p>
    <br />
    <p>Contact Us :</p>
    <p>Mail : onlinefirregistrationsystem@gmail.com | Instagram: @onlinefirsystem | Phone : 9983648826</p>
  </div>
</footer>
</body>
</html>