<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/../static/css/fir_display.css">
    <title>Contact info</title>
</head>
<style>
    .submit{
  background-color: rgb(38, 38, 39);
  color: #ffffff;
  padding: 2.5vh 5vh 2.5vh 5vh;
  margin: 4vh;
  font-size: 2.5vh;
  border-radius: 2vh;
  border: solid 0.4vh white;
  margin-left: 22%;
  margin-top: 22%;
}

.submit:hover {
  color: rgb(255, 217, 0);
  border: solid 0.4vh rgb(255, 217, 0);

}
</style>
<body>

<div class="main1">
    

    <p style="color: rgb(0, 0, 0); text-align: center; font-size: 5vh; font-weight: bold;  background-color: white;">FIR Details</p>
    <br>
    <br>
    <p class="title">FIR status</p>

    <br>


    <table class="tb">

        <tr>
            <td class="left1">
                FIR Status :
            </td>
            <td class="right1">
                {{main_table.fir_status}}
                
            </td>

        </tr>

        <tr>
            <td class="left1">
                FIR Number :
            </td>
            <td class="right1">
                {{main_table.fir_no}}
            </td>

        </tr>
        
        <tr>
            <td class="left1">
                Crime type :
            </td>
            <td class="right1">
                {% if main_table.crime_type == '0' %}
                    Kidnapping
                {% endif %}
                {% if main_table.crime_type == '1' %}
                    child Abuse
                {% endif%}
            </td>

        </tr>

        <tr>
            <td class="left1">
                Comments:
            </td>
            <td class="right1">
                {{main_table.comments}}
            </td>
        </tr>
    </table>
    <!-- <a class="submit" href="/" role="button">Home</a> -->
    
</div> 
</body>
</html>