<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/../static/css/login_form.css">
    <title>User Login</title>
</head>
<body>
    <form id="Status" action="track_status" method="post"> 
        {% csrf_token %}

        <div class="imgcontainer">
          <img src="/../static/img/satyamev_jayate.jpg" 
               alt="Avatar" class="avatar">
      </div>


      <div class="container">
        <label><b>Request Number</b></label>
        <input type="text" placeholder="Enter Request Number" name="un" required>

        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="pass" required>
    </div>
        <button type="submit">Submit</button> 
        <div>
            {%for message in messages%}
              <h3> {{message}} </h3>
            {%endfor%}
          </div>
</body>
</html>